.body{
    background-color: lightblue;
    text-align: center;
}

.list{
    list-style: none;
    padding: 40px 0px;
}

.title{
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    padding-top: 40px;
}

body > ul > li{
    text-align: center;
    padding: 10px 0px;
    margin: 10px 150px;
    font-size: 20px;
    border:1px solid black;
    border-radius: 10px;
    background-color: white;
}
body > ul > li > a{
    text-decoration: none;
    color: black;
}

body > form > input{
    margin: 10px 10px;
}

body > form > input[type="text"]{
    width: 200px;
    height: 30px;
    text-align: center;
    border: 2px solid black;
    border-radius: 4px;
}

body > form > input[type="submit"]{
    width: 100px;
    height: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
}

